<% if current_user %>

<h1>Personalized Picks</h1>
<% for recommendation in @recommendations %>
<div class="rec">
	<h2>
		<%= link_to restaurant_path(recommendation) + "?rating=like", :class => 'btn'  do%><i class="icon-heart"></i> Like<% end %>
		<%= link_to restaurant_path(recommendation) + "?rating=dislike", :class => 'btn'  do%><i class="icon-ban-circle"></i> dislike<% end %>
		<%= link_to recommendation.name, recommendation %>
	</h2>
</div>
<% end %>
<br/><br/>

<%= link_to "Random ME", random_path, :class => 'btn' %>


<h2>Restaurants</h2>
<table class="table table-striped">
  <tr>
		<th>Like</th>
		<th>Dislike</th>
    <th>Name</th>
    <th>Address</th>
    <th>Menu</th>
  </tr>
  <% for restaurant in @restaurants %>
    <tr>
			<td>
				<% if current_user.likes? restaurant %>
					<%= link_to restaurant_path(restaurant) + "?rating=like", :class => 'btn btn-primary'  do%>
						<i class="icon-heart icon-white"></i> Like	
					<% end %>
				<% else %>
					<%= link_to restaurant_path(restaurant) + "?rating=like", :class => 'btn'  do%>
						<i class="icon-heart"></i> Like	
					<% end %>
				<% end %>			
			</td>
			<td>
				
				
				<% if current_user.dislikes? restaurant %>
					<%= link_to restaurant_path(restaurant) + "?rating=dislike", :class => 'btn btn-danger'  do%>
						<i class="icon-ban-circle icon-white"></i> dislike	
					<% end %>
				<% else %>
					<%= link_to restaurant_path(restaurant) + "?rating=dislike", :class => 'btn'  do%>
						<i class="icon-ban-circle"></i> dislike	
					<% end %>
				<% end %>

			</td>
      <td><%= link_to restaurant.name, restaurant %></td>
      <td><%= link_to restaurant.address, "http://maps.google.com/?q=" + restaurant.address %></td>
      <td>
				<% if restaurant.menu_link.empty? %>
					No Menu
				<% else %>
					<%= link_to "Menu", restaurant.menu_link %>					
				<% end %>
			</td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Add Restaurant", new_restaurant_path, :class => 'btn' %></p>

<% else %>
Please log in.
<% end %>

