<% title "Restaurants" %>
<table class="table table-striped">
  <tr>
		<th>Like</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
		<th></th>
		<th></th>
		<th></th>
  </tr>
  <% for restaurant in @restaurants %>
    <tr>
			<td>
			<%= link_to restaurant_path(restaurant) + "?rating=like", :remote => true, :class => 'btn'  do%>
				<i class="icon-heart"></i> Like
			<% end %>
			</td>
			<td>
			<%= link_to restaurant_path(restaurant) + "?rating=dislike", :remote => true, :class => "btn" do %>
				<i class="icon-ban-circle"></i> Hate
			<% end %>
			</td>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone %></td>
      <td><%= link_to "Show", restaurant %></td>
      <td><%= link_to "Edit", edit_restaurant_path(restaurant) %></td>
      <td><%= link_to "Destroy", restaurant, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Restaurant", new_restaurant_path %></p>

<h3>Recommendations</h3>
<% for recommendation in current_user.recommendations %>
<%= recommendation.name %><br/>
<% end %>

<br/><br/>
<h2>Debug</h2>
<h3>Likes</h3>
<% for recommendation in current_user.liked %>
<%= recommendation.name %><br/>
<% end %>

<h3>Dislikes</h3>
<% for recommendation in current_user.disliked %>
<%= recommendation.name %><br/>
<% end %>



