<% title @restaurant.name %>

<i class="icon-home"></i>Address
  <%= @restaurant.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>
<p>
  <strong>Menu:</strong>
  <%= link_to "menu", @restaurant.menu_link %>
</p>

<p>
	
  <%= link_to "Edit", edit_restaurant_path(@restaurant), :class => 'btn' %>
  <%= link_to "Destroy", @restaurant, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %>
  <%= link_to "View All", restaurants_path, :class => 'btn' %>
</p>
