<% title @restaurant.name %>

<i class="icon-home"></i>Address
  <%= @restaurant.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>
<p>
  <strong>Menu:</strong>
  <%= link_to "menu", @restaurant.menu_link %>
</p>

<p>
	<%= link_to "?rating=like", :remote => true, :class => 'btn'  do%>
		<i class="icon-heart"></i> Like
	<% end %>
	<%= link_to "?rating=dislike", :remote => true, :class => "btn" do %>
		<i class="icon-ban-circle"></i> Hate
	<% end %>
</p>

<p>	
  <%= link_to edit_restaurant_path(@restaurant), :class => 'btn' do %>
		<i class="icon-pencil"></i> Edit
	<% end %>

  <%= link_to "Destroy", @restaurant, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %>
  <%= link_to "View All", restaurants_path, :class => 'btn' %>
</p>
