<% title @restaurant.name %>

<i class="icon-home"></i>Address
  <%= @restaurant.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>
<p>
	<% if not @restaurant.menu_link.empty? %>
  <strong>Menu:</strong>
  <%= link_to "View Menu", @restaurant.menu_link %>
  <% end %>
</p>

<p>
	
	<% if current_user.likes? @restaurant %>
		<%= link_to "?rating=like", :remote => true, :class => 'btn btn-primary'  do%>
			<i class="icon-heart icon-white"></i> Like	
		<% end %>
	<% else %>
		<%= link_to "?rating=like", :remote => true, :class => 'btn'  do%>
			<i class="icon-heart"></i> Like	
		<% end %>
	<% end %>
	
	<% if current_user.dislikes? @restaurant %>
		<%= link_to "?rating=dislike", :remote => true, :class => 'btn btn-danger'  do%>
			<i class="icon-ban-circle icon-white"></i> dislike	
		<% end %>
	<% else %>
		<%= link_to "?rating=dislike", :remote => true, :class => 'btn'  do%>
			<i class="icon-ban-circle"></i> dislike	
		<% end %>
	<% end %>
</p>

<p>	
  <%= link_to edit_restaurant_path(@restaurant), :class => 'btn' do %>
		<i class="icon-pencil"></i> Edit
	<% end %>

  <%= link_to "Destroy", @restaurant, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %>
  <%= link_to "View All", restaurants_path, :class => 'btn' %>
</p>


<h2>Restaruants Close By</h2>
<ul>
<% for restaurant in @restaurant.nearbys(3) %>
	<li><%= link_to restaurant.name, restaurant %> (<%= restaurant.distance.round(1) %> miles)</li>
<% end %>
</ul>




