<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
						<a class="brand" href="#">LunchSpot</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li class="active"><a href="<%= restaurants_path %>">Restaurants</a></li>
								<li><a href="#">Sign-In</a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
		
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
