<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "The Best Restaurant Food" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
						<a class="brand" href="/">LunchSpot</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li><a href="<%= restaurants_path %>">Restaurants</a></li>
								<form class="navbar-search pull-left">
								  <%= form_tag restaurants_path, :method => :get do %>
										<p>
											<%= text_field_tag :search, nil, 
																					:placeholder => "Search by Location", 
																					:class => "search-query" %>
										</p>
									<% end %>
								</form>
							</ul>

							<ul class="nav pull-right">
								<li><%= link_to "Random", random_path %></li>
								<li class="divider-vertical"></li>
								<% if current_user %>
								<li><%= link_to current_user.name, "#" %></li>
								<li class="divider-vertical"></li>
								<li><%= link_to "Sign Out", signout_path %></li>
								<% else %>
								<li><%= link_to "Sign in with Facebook" , "auth/facebook" %></li>
								<!--
								<li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
							    <ul class="dropdown-menu">
							      <li><%= link_to "Sign in with Github" , "auth/github" %></li>
							      <li><%= link_to "Sign in with Facebook" , "auth/facebook" %></li>
							    </ul>
							  </li>
								-->
								<% end %>
							</ul>

						</div>
				</div>
			</div>
		</div>
		
    <div class="container">
      <%= render :partial => 'common/flashes' %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>

  <hr/>
  <footer class="container">
  	<p class="small">This page is open source and under AGPL License. Feel <a href="https://github.com/bhardin/lunchspot">free to contribute.</a></p>
  	<br/>
  </footer>
</html>
